<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>fdim</string>
	<key>CFBundleGetInfoString</key>
	<string>fdim</string>
	<key>CFBundleIconFile</key>
	<string>fdim.icns</string>
	<key>CFBundleIdentifier</key>
	<string>fdim</string>
	<key>CFBundleName</key>
	<string>FDim</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>FDIM</string>
	<key>CFBundleVersion</key>
	<string>0.0.1.20101215</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
</dict>
</plist>